@media screen and (max-width: 479px) {
    body {
        margin: 0;
    }
    header {
        padding: 0;
    }
    
    header h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 17px;
    }

    .container {
        padding: 0;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .container__input, .container__output {
        padding: 10px;
    }

    input {
        width: 100%;
        font-size: 17px;
    }

    p {
        font-size: 17px;
    }

    form {
        padding: 10px;
    }
    
    #submit {
        width: 40%;
        margin-top: 10px;
    }
}