:root {
    --subcontainer-padding: 50px;
    --text-color: #FFFFFF;
    --page-padding: 0;
    --button-width: 15%;
}

body {
    background-color: #1D1D1D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: var(--page-padding);
    margin: 0;
}

header {
    width: 100%;
    background-color: #2D2D2D;
    font-family: "Bungee Shade";
    padding: var(--page-padding);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 28px;
    margin-left: 20px;
    font-weight: lighter;
}

h2 {
    font-size: 2.6em;
}

.container {
    width: 60vw;
    margin: auto;
    text-align: center;
    padding: 1vw;
    align-content: center;
    border-radius: 15px;
}

input {
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
    border-radius: 10px;
}

#submit {
    width: var(--button-width);
    cursor: pointer;
}

#submit:disabled {
    cursor: default;
}

p {
    font-size: 2em;
}

a {
    color: var(--text-color);
}

.container__input, .container__output {
    padding: var(--subcontainer-padding);
}

hr.solid {
    border-top: 3px solid #bbb;
    width: 90%;
    color: #FFFFFF;
}

.unexpectedOutput {
    width: 50%;
    font-size: 2em;
}

label {
    font-size: 2em;
}

.logo {
    width: 100px;
    height: 105px;
    align-self: center;
    margin-right: 20px;
}

.input__unexpected-output {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.unexpected-output__information-box {
    display: block;
}

.unexpected-output__information-box label {
    float: center;
}

.unexpected-output__information-box input {
    float: right;
    width: 60%
}

.input__unexpected-output .unexpected-output__submit {
    width: var(--button-width);
    margin: auto;
}