:root {
    --subcontainer-padding: 50px;
    --header-contents-margin: 20px;
    --primary-color: #1D1D1D;
    --secondary-color: #2D2D2D;
    --text-color: #FFFFFF;
    --text-size: 2em;
    --page-padding: 0;
    --button-width: 15%;
    --active-font-weight: 400;
}

body {
    background-color: var(--primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    padding: var(--page-padding);
    margin: 0;
}

header {
    width: 100%;
    background-color: var(--secondary-color);
    font-family: "Bungee Shade";
    padding: var(--page-padding);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 28px;
    margin-left: var(--header-contents-margin);
    font-weight: lighter;
}

.logo {
    width: 100px;
    height: 105px;
    align-self: center;
    margin-right: var(--header-contents-margin);
}

h2 {
    font-size: 2.6em;
}

.container {
    width: 60vw;
    margin: auto;
    text-align: center;
    padding: 1vw;
    align-content: center;
    border-radius: 15px;
}

input {
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
    border-radius: 10px;
    transition-duration: 400ms;
}

#submit {
    width: var(--button-width);
    cursor: pointer;
}

#submit:disabled {
    cursor: default;
}

#submit:enabled:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-color: var(--text-color);
}

#submit:enabled:active {
    font-weight: var(--active-font-weight);
}

p, label {
    font-size: var(--text-size);
}

a {
    color: var(--text-color);
}

.container__input, .container__output {
    padding: var(--subcontainer-padding);
}

hr.solid {
    border-top: 3px solid #bbb;
    width: 90%;
    color: var(--text-color);
}

.unexpectedOutput {
    width: 50%;
    font-size: 2em;
}

.input__unexpected-output {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.unexpected-output__information-box {
    display: block;
}

.unexpected-output__information-box label {
    float: center;
}

.unexpected-output__information-box input {
    float: right;
    width: 60%
}

.input__unexpected-output .unexpected-output__submit {
    width: var(--button-width);
    margin: auto;
    cursor: pointer;
}

.input__unexpected-output .unexpected-output__submit:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-color: var(--text-color);
    font-weight: var(--active-font-weight);
}
