body {
    background-color: #1D1D1D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header {
    width: 100vw;
    /*height: 10vh;*/
    background-color: #2D2D2D;
    font-family: "Bungee Shade";
    padding: 0px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header h1 {
    font-size: 28px;
    margin-left: 20px;
    font-weight:lighter;
}

h2 {
    font-size: 2.6em;
}

.container {
    width: 60vw;
    margin: auto;
    text-align: center;
    padding: 1vw;
    align-content: center;
    border-radius: 15px;
}

input {
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
    border-radius: 10px;
}

#submit {
    background-color: #f5edf7;
    width: 10%;
    cursor: pointer;
}

#submit:disabled {
    cursor: default;
}

p {
    font-size: 2rem;
}

textarea {
    width: 95%;
    font-size: 2em;
}

a {
    color: #FFFFFF;
}

.container__input {
    padding: 50px;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.container__output {
    padding: 50px;
}