@media screen and (min-width: 480px) and (max-width: 770px) {
    :root {
        --header-contents-margin: 10px;
    }

    body {
        margin: 0;
    }

    header {
        padding: 0;
    }

    header h1 {
        font-size: 30px;
        margin-left: var(--header-contents-margin);
    }

    .logo {
        width: 90px;
        height: 95px;
        margin-right: var(--header-contents-margin);
    }

    h2 {
        font-size: 30px;
    }

    .container {
        padding: 0;
        width: 95vw;
        margin: auto;
    }

    .container__input, .container__output {
        padding: 40px;
    }

    input {
        font-size: 25px;
    }

    p {
        font-size: 25px;
    }

    #submit {
        width: 15%;
    }

    .unexpected-output__information-box label {
        font-size: 25px;
    }
}