{% extends "layout.html" %}


{% block title %}
	<title>Harvard Reference Auto Builder - Input</title>
	<script>
		let errorNumber = {{ errorNumber }};
		
		if (errorNumber === 1) {
			alert("The URL You Inputted Could Not Be Found")
		}

	</script>
{% endblock %}

{% block container %}
	<div class="container__input">
		<form action="/" method="POST">
			<h2>Input a Link:</h2>
			<input id = "input___urlBox" 
					name = "urlBox" 
					type = "text" 
					placeholder = "URL"/>
			<input id = "input___submit" 
					class = "input___submit"
					name = "submit" 
					type = "submit" 
					disabled />
		</form>
		<script>
			document.querySelector("#input___urlBox").onkeyup = function() {
				if (document.querySelector("#input___urlBox").value === "") {
					document.querySelector("#input___submit").disabled = true;
				} else {
					document.querySelector("#input___submit").disabled = false;
				}
			}
		</script>
	</div>
	<div class="container__output">
		<hr class="solid">
		<h2>Here Is Your Generated Harvard Reference:</h2>
		<p id="harvardReference">{{ author }} ({{publicationYear}}). <i>{{ title }}</i>. Available: {{ url }}. Last accessed {{ currentDate}}</p>
		<a href="{{ url_for('unexpected_output') }}"
			class="output__unexpected_output_link">Not the output you were expecting?</a>
	</div>
	<script>
		let output = {{ output }};

		if (output === 0) {
			outputContainer = document.querySelector(".container__output");
			outputContainer.style.display = "none";
		}
	</script>
{% endblock %}
