{% extends "layout.html" %}


{% block title %}
	<title>Harvard Reference Auto Builder - Input</title>
	<script>
		let errorNumber = {{ errorNumber }};
		
		if (errorNumber == 1) {
			alert("The URL You Inputted Could Not Be Found")
		} 
	</script>
{% endblock %}

{% block container %}
	<h1>Input a Link:</h1>
	<form action="\submit">
		<input id = "urlBox" 
			name = "urlBox" 
			type = "text" 
			placeholder = "URL"/>
		
		<input id = "submit" 
		class = "submit"
		name = "submit" 
		type = "submit" 
		disabled/>
	</form>
	
	<script>
		document.querySelector("#urlBox").onkeyup = function() {
			if (document.querySelector("#urlBox").value === "") {
				document.querySelector("#submit").disabled = true;
			} else {
				document.querySelector("#submit").disabled = false;
			}
		}
	</script>
{% endblock %}