<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/tablet.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/mobile.css') }}" />
    <link rel="icon" href="../static/Harvard Reference Generator Icon.png"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee Shade" />
    {% block title %}
    {% endblock %}
</head>
<body>
    <header>
        <h1>Harvard Reference Generator</h1>
        <img class="logo" 
            src="../static/Harvard Reference Generator.png">
    </header>
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>
</body>
</html>