{% extends "layout.html" %}


{% block title %}
	<title>Harvard Reference Auto Builder - Unexpected Output</title>
{% endblock %}

{% block container %}
    <h1>Unexpected Output Form</h1>
    <p>We do apologise that the output you received was not what you were expecting. 
        Please understand that every website is written in a different way, meaning they keep 
        information in different places! <br />
        Please help us improve this product by putting in the information you were expecting to be found,
        and we'll work on trying to fix this, and we'll generate the Harvard Reference based on the information
        you provide!
    </p>
	<div class="container__input">
        <form action="/submit-unexpected-output"
                method="POST"
                class="input__unexpected-output">
            <div class="unexpected-output__information-box">
                <label for="author">Author:</label>
                <input name="author"></input>
            </div>
            <br />
            <div class="unexpected-output__information-box">
                <label for="title">Title:</label>
                <input name="title"></input>
            </div>
            <br />
            <div class="unexpected-output__information-box">
                <label for="websiteName">Website Name:</label>
                <input name="websiteName"></input>
            </div>
            <br />
            <div class="unexpected-output__information-box">
                <label for="publicationYear">Publication Year:</label>
                <input name="publicationYear"
                        type="number"
                        min="1990"></input>
            </div>
            <br />
            <div class="unexpected-output__information-box">
                <label for="userEmail">Your Email Address:</label>
                <input name="userEmail"
                    type="email"></input>
            </div>
            <br /><br />
            <input type="submit"
                    class="unexpected-output__submit"></input>
        </form>
    </div>
    <script>
        const publicationYearBox = document.getElementsByName("publicationYear")[0];
        publicationYearBox.setAttribute("max", new Date().getFullYear());
    </script>
{% endblock %}
